html,
body {
  padding: 0;
  margin: 0;
  font-family: "Poppins" !important;
    color: rgb(189, 189, 189);
    background: linear-gradient(90deg, #0B0B0B 20px, transparent 100%) center, linear-gradient(#0B0B0B 20px, transparent 100%) center;
  background-size: 21px 21px;
}

a {
  text-decoration: none !important;
}

* {
  box-sizing: border-box;
}

button , h1 , p{
  position: relative;
}
  /* Navbar */
  .navbar{
    background-color: #0C0C0C !important;
    box-shadow: -3px 6px 20px 10px black;
    border-radius: 10px;
  }
  
  .navbar a{
    color: #b1b1b1;
  }
  .navbar a:hover{
    color: #8a8a8a;
  }
  
  
  .navbar .active{
    color: #ffffff;
  }
  
  .navbar .active{
    border: 1px solid #8951c7;
    border-radius: 10px;
    padding: 20px;
    background-color: #8951c7;
  }
  .navbar .nav-link{
    padding: 5px;
  }
/* Ellipse 1 */

.ellipse1 {
position: fixed;
width: 259.18px;
height: 250.98px;
left: 1297.64px;
top: -66.13px;

background: #F4A39E;
filter: blur(75px);

}
/* Ellipse 2 */

.ellipse2{
position: fixed;
width: 352.17px;
height: 293.81px;
left: 1041.96px;
top: -149.45px;

background: #EF8EFC;
filter: blur(146px);
}

/* Ellipse 3 */

.ellipse3{
position: fixed;
width: 222.18px;
height: 225.55px;
left: 1186.35px;
top: 0px;

background: #B381F9;
filter: blur(140px);
}

/* Ellipse 7 */

.ellipse7{
position: fixed;
width: 259.18px;
height: 250.98px;
left: 234.37px;
top: 208.09px;

background: #174fbe;
filter: blur(75px);
}

/* Ellipse 4 */

.ellipse8{
position: fixed;
width: 352.17px;
height: 293.81px;
left: 141.38px;
top: 100.7px;

background: #EF8EFC;
filter: blur(146px);
}

/* Ellipse 6 */

.ellipse6{
position: fixed;
width: 222.58px;
height: 206.49px;
left: 235.05px;
top: 144.36px;

background: #285CC1;
filter: blur(140px);
}

/* Ellipse 9 */

.ellipse9{
position: fixed;
width: 259.18px;
height: 250.98px;
left: 1278.94px;
top: 500.75px;

background: #F4A39E;
filter: blur(75px);
}

/* Ellipse 10 */

.ellipse10{
position: fixed;
width: 222.58px;
height: 206.49px;
left: 1167.65px;
top: 600.05px;

background: #285CC1;
filter: blur(140px);
}

/* Ellipse 11 */

.ellipse11{
position: fixed;
width: 222.18px;
height: 225.55px;
left: -80.8px;
top: 600.75px;

background: #285CC1;
filter: blur(100px);
}

/* Ellipse 12 */

.ellipse12{
position: fixed;
width: 352.17px;
height: 293.81px;
left: 67.82px;
top: 500.09px;

background: #F4A39E;
filter: blur(146px);
}

.me{
  mix-blend-mode: hard-light;
}

.overview{
  padding-left: 60px !important;
}

.contentCard{
  margin-top: 30px;
  background-color: #0C0C0C !important;
  box-shadow: -3px 6px 20px 10px black;
  border-radius: 10px;
  padding: 30px !important;
}
.contentCard .card-header{
  color: #B381F9;
}

.icon{
  margin-left: 5px;
  margin-right: 5px;
}

/* Footer */
.footer{
  margin-top: 50px;
  color: #555555;
}

/* Card */
.card{
  border-radius: 10px;
  padding: 10px;
}
.lineBottom{

  /* Rectangle 10 */
position: sticky;
width: 185.86px;
height: 7.91px;
left: 80.52px;
top: 1067.43px;
margin-top: 20px;

background: #B381F9;
border-radius: 20px;
}

/* about me */
.aboutMe .badge{
  margin: 5px;
}

.aboutMe h5 {
  margin-top: 50px;
  margin-bottom: 20px;
  font-weight: 400;
  line-height: normal;
}

/* Line 25 */

.aboutMe .el1{
position: absolute;
width: 309.47px;
height: 0px;
left: 876.2px;
top: 599.36px;

border: 1px dashed #EF8EFC;
transform: rotate(90deg);
}

/* Ellipse 11 */

.aboutMe .el2{
position: absolute;
width: 19.77px;
height: 19.77px;
left: 866.32px;
top: 639.54px;

background: #EF8EFC;
}

/* Ellipse 13 */

.aboutMe .el3{
position: absolute;
width: 19.77px;
height: 19.77px;
left: 867.55px;
top: 754.1px;

background: #EF8EFC;
}

/* Ellipse 12 */

.aboutMe .el4{
position: absolute;
width: 19.77px;
height: 19.77px;
left: 866.32px;
top: 893.36px;

background: #EF8EFC;
}

.aboutMe h6{
  font-weight: 900;
  color: #878787;
  margin-top: 10px;
}

.aboutMe .timeline p{
  font-weight: 700;
    color: #b16cfd;
}

.gradient p {
  background: linear-gradient(to right, #174fbe 0%, #b16cfd 40%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-transform: uppercase;
  font-weight: 900;
}
/* Timeline */
.timeline {
  border-left: 4px solid #b16cfd;
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px;
  background: rgba(255, 255, 255, 0.03);
  color: rgb(255, 255, 255);
  font-family: 'Chivo', sans-serif;
  letter-spacing: 0.5px;
  position: relative;
  line-height: 1.4em;
  font-size: 1.03em;
  padding-left: 50px;
  padding-top: 10px;
  padding-bottom: 10px;
  list-style: none;
  text-align: left;
  font-weight: 100;
}

.timeline .event {
  border-bottom: 1px dashed rgba(255, 255, 255, 0.1);
  position: relative;
}
.timeline .event:last-of-type {
  padding-bottom: 0;
  margin-bottom: 0;
  border: none;
}
.timeline .event:before,
.timeline .event:after {
  position: absolute;
  display: block;
  top: 0;
}
.timeline .event:before {
  left: -217.5px;
  color: rgba(255, 255, 255, 0.4);
  content: attr(data-date);
  text-align: right;
  font-weight: 100;
  font-size: 0.9em;
  min-width: 120px;
  font-family: 'Saira', sans-serif;
}
.timeline .event:after {
  box-shadow: 0 0 0 4px #b16cfd;
  left: -57.85px;
  background: #313534;
  border-radius: 50%;
  height: 11px;
  width: 11px;
  content: "";
  top: 5px;
}

/* portofolio */
.bgWarp{
  width: 100%;
  height: 100px;
  border-radius: 10px;
}

.portofolio .desc{
  height: 200px;
  margin-bottom: 20px;
}

.card{
  background-color: #0B0B0B !important;
}
.portofolio span{
  color: #af6aff;
}
.portofolio .click{
  cursor: pointer;
}

/* Messages */

.messages .form-control{
  background-color: #f0f8ff00;
  border: 2px solid #ef8efc;
  color: #a5a5a5;
}
.messages .form-control:focus{
  background-color: #f0f8ff00;
  color: #a5a5a5;
  border: 2px solid #ef8efc;
}
.messages .box{
  background-image: linear-gradient(#084298, transparent);
  margin-top: 20px;
}
.messages span{
  margin-bottom: 20px;
  color: #818181;
}
.messages button{
  margin: 20px;
  float: right;
}
.messages .card .subtitle{
  color:#9e9e9e ;
}
/* responsive */
@media only screen and (max-width: 600px) {
  /* Ellipse 7 */

.ellipse7{
  top: 608.09px;
  }
  
  /* Ellipse 4 */
  
  .ellipse8{
  top: 500.7px;
  }
  
  /* Ellipse 6 */
  
  .ellipse6{
  top: 484.36px;
  }
  
  .experience .imgMain{
    min-height: 170px !important;
  }
}

/* Slide */
.carousel-inner {
  border-radius: 25px;
}
.portoDetail .title{
  margin-top: 60px;
  margin-bottom: 30px;

}
.portoDetail .badge{
  margin-top: 20px;
  margin-bottom: 20px;

}
.portoDetail .blockquote-footer{
  margin-top: 20px;
  margin-bottom: 20px;

}
.portoDetail .imgWrap{
  width: 100%;
    height: 500px;
}
.portoDetail .imgWrap .image{
  object-position: top;
}

/* Experience */
.experience .imgBg{
  height: 500px;
  background-position: center;
  background-size: cover;
  filter: brightness(0.2) blur(10px) !important;
}
.experience .carousel-item{
  height: 500px;
}
.experience .imgMain{
  min-width: 80%;
  min-height: 300px;
  background-color: white;
  border-radius: 20px;
  margin-bottom: 20px;
  margin-left: auto;
  background-position: center;
  background-size: cover;
}
/* Contact */
.profile .photo{
  border-radius: 50%;
}
.profile{
  text-align-last: center;
}
.contact p{
  color: #8d8d8d;
}
.contact .col-lg-6{
  place-self: center;
}

/* Animation */

#stars {
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 369px 656px #FFF , 45px 1499px #FFF , 747px 1886px #FFF , 587px 363px #FFF , 768px 823px #FFF , 431px 1460px #FFF , 423px 636px #FFF , 1704px 522px #FFF , 337px 1554px #FFF , 1496px 1765px #FFF , 460px 1447px #FFF , 1029px 1380px #FFF , 1339px 990px #FFF , 393px 1502px #FFF , 1161px 1481px #FFF , 1559px 1387px #FFF , 192px 197px #FFF , 1472px 628px #FFF , 957px 38px #FFF , 530px 608px #FFF , 169px 1291px #FFF , 1701px 369px #FFF , 449px 959px #FFF , 1870px 738px #FFF , 265px 1439px #FFF , 1713px 473px #FFF , 1523px 611px #FFF , 1344px 396px #FFF , 397px 1315px #FFF , 215px 1109px #FFF , 929px 296px #FFF , 1808px 1291px #FFF , 170px 746px #FFF , 1320px 1221px #FFF , 1464px 936px #FFF , 1857px 47px #FFF , 553px 403px #FFF , 438px 1667px #FFF , 1275px 1041px #FFF , 1258px 1014px #FFF , 356px 1064px #FFF , 1595px 633px #FFF , 66px 1218px #FFF , 655px 25px #FFF , 1694px 559px #FFF , 1286px 988px #FFF , 746px 1598px #FFF , 960px 243px #FFF , 1778px 1809px #FFF , 1389px 353px #FFF , 630px 1646px #FFF , 524px 369px #FFF , 1090px 1363px #FFF , 185px 228px #FFF , 1530px 372px #FFF , 541px 858px #FFF , 1961px 1132px #FFF , 1693px 1390px #FFF , 1672px 472px #FFF , 198px 1416px #FFF , 435px 957px #FFF , 292px 1436px #FFF , 1419px 1151px #FFF , 1553px 560px #FFF , 1385px 1822px #FFF , 1977px 960px #FFF , 659px 1881px #FFF , 1490px 1999px #FFF , 1873px 912px #FFF , 1475px 665px #FFF , 1035px 1772px #FFF , 1109px 542px #FFF , 1409px 1200px #FFF , 200px 241px #FFF , 529px 1233px #FFF , 1776px 601px #FFF , 1132px 1375px #FFF , 1283px 1405px #FFF , 6px 1547px #FFF , 218px 1158px #FFF , 1790px 375px #FFF , 1768px 407px #FFF , 1771px 1969px #FFF , 1514px 211px #FFF , 1528px 649px #FFF , 1467px 870px #FFF , 767px 734px #FFF , 1557px 1488px #FFF , 160px 194px #FFF , 1014px 1204px #FFF , 1991px 1734px #FFF , 126px 1436px #FFF , 384px 1297px #FFF , 588px 1292px #FFF , 29px 746px #FFF , 139px 677px #FFF , 1600px 1318px #FFF , 667px 217px #FFF , 543px 1962px #FFF , 1292px 1518px #FFF , 307px 896px #FFF , 870px 1073px #FFF , 1376px 165px #FFF , 631px 498px #FFF , 74px 526px #FFF , 1231px 445px #FFF , 1794px 1111px #FFF , 1142px 1218px #FFF , 1466px 368px #FFF , 795px 1043px #FFF , 1487px 1018px #FFF , 1224px 1122px #FFF , 1545px 1886px #FFF , 1077px 1138px #FFF , 1456px 1410px #FFF , 525px 985px #FFF , 742px 1573px #FFF , 1786px 589px #FFF , 1734px 1031px #FFF , 63px 1482px #FFF , 1169px 750px #FFF , 340px 123px #FFF , 1692px 1735px #FFF , 318px 1619px #FFF , 507px 147px #FFF , 614px 574px #FFF , 1834px 1211px #FFF , 1566px 537px #FFF , 1069px 172px #FFF , 567px 741px #FFF , 398px 110px #FFF , 1835px 1237px #FFF , 1887px 697px #FFF , 40px 1007px #FFF , 159px 976px #FFF , 1992px 1713px #FFF , 1934px 1824px #FFF , 211px 1078px #FFF , 1577px 1335px #FFF , 1593px 1553px #FFF , 873px 1476px #FFF , 67px 1755px #FFF , 1824px 937px #FFF , 564px 1475px #FFF , 1253px 1132px #FFF , 1932px 574px #FFF , 1357px 1050px #FFF , 1503px 186px #FFF , 1999px 153px #FFF , 1438px 999px #FFF , 806px 1978px #FFF , 1342px 934px #FFF , 221px 591px #FFF , 1570px 1843px #FFF , 1351px 558px #FFF , 1582px 1017px #FFF , 1333px 286px #FFF , 1388px 1555px #FFF , 1825px 1202px #FFF , 1164px 1404px #FFF , 1999px 507px #FFF , 1601px 1487px #FFF , 109px 185px #FFF , 70px 583px #FFF , 1706px 86px #FFF , 1652px 14px #FFF , 1921px 1998px #FFF , 155px 1223px #FFF , 721px 1387px #FFF , 1519px 1296px #FFF , 245px 1038px #FFF , 885px 1020px #FFF , 217px 859px #FFF , 1880px 1581px #FFF , 798px 1471px #FFF , 671px 1722px #FFF , 204px 905px #FFF , 41px 1447px #FFF , 1210px 1464px #FFF , 325px 509px #FFF , 451px 405px #FFF , 785px 31px #FFF , 812px 398px #FFF , 1541px 1317px #FFF , 420px 1864px #FFF , 695px 423px #FFF , 1756px 1239px #FFF , 800px 1190px #FFF , 232px 1891px #FFF , 1662px 904px #FFF , 1151px 365px #FFF , 211px 1102px #FFF , 354px 1394px #FFF , 1934px 686px #FFF , 888px 737px #FFF , 391px 1956px #FFF , 1488px 530px #FFF , 1066px 79px #FFF , 1872px 1332px #FFF , 1528px 1276px #FFF , 1391px 1763px #FFF , 1053px 1745px #FFF , 1669px 1169px #FFF , 1480px 745px #FFF , 448px 1574px #FFF , 687px 638px #FFF , 573px 827px #FFF , 1308px 1058px #FFF , 186px 37px #FFF , 580px 1063px #FFF , 277px 389px #FFF , 1575px 1098px #FFF , 56px 1142px #FFF , 71px 460px #FFF , 440px 1005px #FFF , 1866px 1069px #FFF , 3px 1770px #FFF , 1219px 328px #FFF , 59px 1547px #FFF , 1627px 323px #FFF , 59px 366px #FFF , 1380px 587px #FFF , 457px 259px #FFF , 1381px 516px #FFF , 744px 598px #FFF , 338px 1310px #FFF , 963px 1158px #FFF , 396px 1653px #FFF , 1315px 401px #FFF , 913px 401px #FFF , 1462px 1355px #FFF , 1618px 1285px #FFF , 823px 1748px #FFF , 439px 477px #FFF , 1608px 356px #FFF , 16px 805px #FFF , 1199px 327px #FFF , 326px 914px #FFF , 1815px 557px #FFF , 608px 1343px #FFF , 1358px 1296px #FFF , 91px 104px #FFF , 1631px 1638px #FFF , 474px 1224px #FFF , 1570px 422px #FFF , 83px 1775px #FFF , 1127px 839px #FFF , 38px 1064px #FFF , 665px 1877px #FFF , 202px 1667px #FFF , 1466px 127px #FFF , 438px 216px #FFF , 697px 738px #FFF , 1136px 1766px #FFF , 1557px 1768px #FFF , 466px 207px #FFF , 743px 28px #FFF , 1924px 276px #FFF , 1073px 65px #FFF , 1109px 1146px #FFF , 702px 424px #FFF , 1144px 1979px #FFF , 1274px 122px #FFF , 1404px 967px #FFF , 1744px 17px #FFF , 315px 1111px #FFF , 205px 1996px #FFF , 896px 1660px #FFF , 780px 373px #FFF , 1569px 1082px #FFF , 627px 770px #FFF , 1533px 572px #FFF , 325px 51px #FFF , 1717px 153px #FFF , 1312px 1194px #FFF , 195px 891px #FFF , 1382px 51px #FFF , 1869px 1656px #FFF , 198px 808px #FFF , 1738px 1628px #FFF , 960px 653px #FFF , 771px 1523px #FFF , 1722px 182px #FFF , 283px 298px #FFF , 1241px 1305px #FFF , 1036px 1593px #FFF , 942px 236px #FFF , 1989px 645px #FFF , 985px 1527px #FFF , 923px 1906px #FFF , 1549px 946px #FFF , 416px 92px #FFF , 1951px 1358px #FFF , 428px 1073px #FFF , 1605px 830px #FFF , 322px 1732px #FFF , 1655px 949px #FFF , 1938px 1979px #FFF , 1251px 426px #FFF , 196px 816px #FFF , 1554px 10px #FFF , 585px 1200px #FFF , 1951px 723px #FFF , 1297px 1778px #FFF , 1548px 1630px #FFF , 543px 1757px #FFF , 1823px 1907px #FFF , 1618px 1257px #FFF , 967px 1563px #FFF , 1134px 214px #FFF , 52px 812px #FFF , 1663px 672px #FFF , 797px 806px #FFF , 1918px 1532px #FFF , 732px 1460px #FFF , 962px 1429px #FFF , 1859px 521px #FFF , 1270px 1773px #FFF , 1617px 1447px #FFF , 1280px 510px #FFF , 1600px 89px #FFF , 598px 1897px #FFF , 130px 1321px #FFF , 103px 1505px #FFF , 1004px 203px #FFF , 570px 148px #FFF , 744px 1514px #FFF , 1596px 229px #FFF , 1795px 972px #FFF , 1741px 124px #FFF , 1210px 344px #FFF , 143px 408px #FFF , 961px 578px #FFF , 1866px 427px #FFF , 1150px 1233px #FFF , 1944px 703px #FFF , 560px 161px #FFF , 433px 1429px #FFF , 616px 252px #FFF , 1136px 1721px #FFF , 271px 488px #FFF , 1934px 580px #FFF , 1663px 1324px #FFF , 172px 1135px #FFF , 1156px 20px #FFF , 711px 56px #FFF , 1014px 1337px #FFF , 457px 226px #FFF , 1031px 1271px #FFF , 1370px 1577px #FFF , 398px 1526px #FFF , 1465px 204px #FFF , 375px 1189px #FFF , 1410px 1556px #FFF , 1304px 653px #FFF , 1926px 828px #FFF , 791px 1444px #FFF , 1534px 1601px #FFF , 189px 150px #FFF , 532px 1992px #FFF , 1037px 1353px #FFF , 240px 45px #FFF , 354px 1108px #FFF , 753px 811px #FFF , 330px 579px #FFF , 96px 1650px #FFF , 1588px 1748px #FFF , 1641px 1327px #FFF , 772px 1703px #FFF , 535px 176px #FFF , 687px 1499px #FFF , 972px 647px #FFF , 1024px 949px #FFF , 821px 810px #FFF , 1156px 300px #FFF , 137px 61px #FFF , 1475px 1223px #FFF , 361px 790px #FFF , 260px 1760px #FFF , 1336px 686px #FFF , 126px 770px #FFF , 1678px 94px #FFF , 1252px 1660px #FFF , 926px 923px #FFF , 1181px 788px #FFF , 190px 815px #FFF , 594px 178px #FFF , 664px 445px #FFF , 5px 1656px #FFF , 924px 364px #FFF , 1511px 668px #FFF , 11px 760px #FFF , 1050px 334px #FFF , 1142px 785px #FFF , 1695px 556px #FFF , 1698px 1563px #FFF , 954px 1673px #FFF , 459px 1253px #FFF , 884px 1436px #FFF , 471px 730px #FFF , 1526px 105px #FFF , 464px 426px #FFF , 118px 756px #FFF , 250px 1221px #FFF , 367px 1355px #FFF , 208px 25px #FFF , 1951px 461px #FFF , 270px 364px #FFF , 26px 1413px #FFF , 1358px 1428px #FFF , 445px 1484px #FFF , 128px 1532px #FFF , 577px 412px #FFF , 1822px 1399px #FFF , 331px 941px #FFF , 726px 840px #FFF , 1090px 154px #FFF , 1574px 1740px #FFF , 377px 959px #FFF , 1675px 1806px #FFF , 1358px 602px #FFF , 112px 1283px #FFF , 1882px 1706px #FFF , 828px 1761px #FFF , 1863px 1935px #FFF , 1063px 1375px #FFF , 832px 1047px #FFF , 1903px 123px #FFF , 1892px 1221px #FFF , 1580px 1551px #FFF , 1255px 1756px #FFF , 450px 447px #FFF , 1201px 693px #FFF , 300px 135px #FFF , 1081px 1599px #FFF , 1574px 481px #FFF , 1503px 740px #FFF , 1922px 1147px #FFF , 1193px 1341px #FFF , 1215px 403px #FFF , 843px 1517px #FFF , 836px 1604px #FFF , 1763px 687px #FFF , 1554px 1782px #FFF , 459px 1246px #FFF , 1734px 1414px #FFF , 1046px 1802px #FFF , 290px 950px #FFF , 879px 1926px #FFF , 94px 1034px #FFF , 1561px 1476px #FFF , 1539px 741px #FFF , 1252px 1169px #FFF , 880px 1361px #FFF , 1248px 1859px #FFF , 618px 1086px #FFF , 1196px 81px #FFF , 135px 165px #FFF , 785px 44px #FFF , 285px 477px #FFF , 1940px 1920px #FFF , 865px 1335px #FFF , 739px 678px #FFF , 1021px 1185px #FFF , 1453px 47px #FFF , 19px 1741px #FFF , 1270px 1026px #FFF , 1113px 441px #FFF , 1656px 302px #FFF , 1908px 1567px #FFF , 967px 829px #FFF , 1582px 591px #FFF , 591px 1503px #FFF , 840px 367px #FFF , 769px 1210px #FFF , 119px 853px #FFF , 1062px 1361px #FFF , 793px 264px #FFF , 1506px 1699px #FFF , 439px 878px #FFF , 736px 1915px #FFF , 978px 935px #FFF , 1683px 1620px #FFF , 1504px 620px #FFF , 129px 594px #FFF , 1208px 1925px #FFF , 938px 594px #FFF , 507px 1422px #FFF , 408px 1557px #FFF , 710px 1689px #FFF , 509px 1546px #FFF , 1267px 907px #FFF , 207px 511px #FFF , 142px 100px #FFF , 68px 361px #FFF , 447px 1695px #FFF , 609px 872px #FFF , 1049px 1489px #FFF , 1352px 854px #FFF , 1372px 1117px #FFF , 1071px 1951px #FFF , 100px 58px #FFF , 603px 610px #FFF , 7px 1989px #FFF , 1457px 102px #FFF , 1472px 1594px #FFF , 56px 335px #FFF , 1674px 1328px #FFF , 1229px 391px #FFF , 123px 1434px #FFF , 32px 1156px #FFF , 712px 32px #FFF , 1348px 1214px #FFF , 1769px 1333px #FFF , 82px 1561px #FFF , 1803px 1021px #FFF , 726px 421px #FFF , 956px 1286px #FFF , 716px 1555px #FFF , 1400px 997px #FFF , 1778px 357px #FFF , 1812px 866px #FFF , 1046px 49px #FFF , 1390px 1699px #FFF , 624px 1648px #FFF , 349px 316px #FFF , 1724px 604px #FFF , 683px 386px #FFF , 213px 596px #FFF , 1933px 452px #FFF , 673px 1205px #FFF , 738px 1288px #FFF , 433px 808px #FFF , 1126px 1008px #FFF , 1290px 1334px #FFF , 1864px 1283px #FFF , 1079px 1815px #FFF , 1916px 357px #FFF , 1938px 1915px #FFF , 104px 1428px #FFF , 1668px 1617px #FFF , 172px 1564px #FFF , 242px 1319px #FFF , 1441px 823px #FFF , 960px 484px #FFF , 289px 283px #FFF , 285px 1658px #FFF , 475px 477px #FFF , 1575px 234px #FFF , 1414px 694px #FFF , 961px 901px #FFF , 1339px 1578px #FFF , 1787px 749px #FFF , 1215px 1162px #FFF , 1855px 1088px #FFF , 601px 1553px #FFF , 1334px 1642px #FFF , 135px 669px #FFF , 1069px 1277px #FFF , 1315px 1406px #FFF , 1087px 917px #FFF , 1285px 557px #FFF , 1107px 644px #FFF , 1829px 438px #FFF , 455px 994px #FFF , 378px 113px #FFF , 1694px 1358px #FFF , 205px 1060px #FFF , 1180px 999px #FFF , 896px 1458px #FFF , 834px 1610px #FFF , 1088px 389px #FFF , 1726px 1149px #FFF , 679px 1465px #FFF , 1716px 1167px #FFF , 146px 1918px #FFF , 1517px 1788px #FFF , 1569px 307px #FFF , 1950px 778px #FFF , 1675px 1289px #FFF , 1513px 378px #FFF , 547px 1237px #FFF , 384px 1515px #FFF , 1307px 161px #FFF , 423px 1024px #FFF , 1522px 1148px #FFF , 863px 1479px #FFF , 1288px 1382px #FFF , 1672px 1798px #FFF , 592px 908px #FFF , 1464px 79px #FFF , 937px 1841px #FFF , 1761px 1062px #FFF , 1728px 1539px #FFF , 267px 419px #FFF , 618px 1965px #FFF , 1810px 278px #FFF , 1668px 685px #FFF , 1604px 1424px #FFF , 860px 170px #FFF , 633px 155px #FFF , 1928px 1796px #FFF , 1304px 1723px #FFF , 384px 1162px #FFF , 1884px 310px #FFF , 690px 1646px #FFF , 1642px 1910px #FFF , 1980px 1603px #FFF , 1858px 198px #FFF , 360px 1927px #FFF , 742px 1948px #FFF , 1820px 1300px #FFF , 1238px 1035px #FFF , 163px 1764px #FFF , 350px 344px #FFF , 424px 545px #FFF , 432px 638px #FFF , 1619px 640px #FFF , 1396px 1954px #FFF , 121px 778px #FFF , 988px 1727px #FFF , 1622px 877px #FFF , 518px 110px #FFF , 294px 544px #FFF , 1115px 1554px #FFF , 671px 321px #FFF , 1311px 1388px #FFF , 470px 1562px #FFF , 1440px 679px #FFF , 344px 614px #FFF , 81px 1477px #FFF , 880px 1066px #FFF , 1527px 1639px #FFF , 1497px 556px #FFF , 208px 1280px #FFF , 825px 1685px #FFF , 1915px 373px #FFF , 1966px 982px #FFF , 607px 1283px #FFF , 225px 854px #FFF , 91px 1924px #FFF , 820px 617px #FFF , 1646px 1061px #FFF , 1582px 863px #FFF , 357px 1558px #FFF , 453px 1169px #FFF , 901px 747px #FFF , 48px 936px #FFF , 595px 810px #FFF , 1357px 881px #FFF , 1198px 278px #FFF , 1760px 1607px #FFF , 1143px 1637px #FFF , 882px 145px #FFF , 304px 48px #FFF , 1795px 34px #FFF , 1204px 1908px #FFF , 1650px 1398px #FFF , 199px 425px #FFF , 1368px 1231px #FFF , 1010px 310px #FFF , 275px 1040px #FFF , 1295px 366px #FFF , 1652px 1287px #FFF , 926px 1144px #FFF , 1014px 787px #FFF , 899px 338px #FFF , 41px 1061px #FFF , 1338px 757px #FFF , 4px 1056px #FFF , 646px 918px #FFF , 1982px 283px #FFF , 1304px 440px #FFF , 870px 128px #FFF , 1791px 1890px #FFF , 923px 360px #FFF , 1392px 501px #FFF , 1050px 948px #FFF , 1487px 1680px #FFF , 1652px 1856px #FFF , 1003px 587px #FFF , 162px 1961px #FFF , 1098px 161px #FFF , 1997px 964px #FFF , 1242px 366px #FFF , 280px 1852px #FFF , 1168px 113px #FFF , 343px 958px #FFF , 699px 183px #FFF , 1339px 472px #FFF , 1877px 1985px #FFF , 313px 1375px #FFF , 1008px 1517px #FFF , 290px 436px #FFF , 759px 1251px #FFF , 1304px 1910px #FFF , 1403px 1034px #FFF , 559px 1330px #FFF , 213px 1747px #FFF , 386px 655px #FFF;
  animation: animStar 50s linear infinite;
}
#stars:after {
  content: " ";
  position: absolute;
  top: 1000px;
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 369px 656px #FFF , 45px 1499px #FFF , 747px 1886px #FFF , 587px 363px #FFF , 768px 823px #FFF , 431px 1460px #FFF , 423px 636px #FFF , 1704px 522px #FFF , 337px 1554px #FFF , 1496px 1765px #FFF , 460px 1447px #FFF , 1029px 1380px #FFF , 1339px 990px #FFF , 393px 1502px #FFF , 1161px 1481px #FFF , 1559px 1387px #FFF , 192px 197px #FFF , 1472px 628px #FFF , 957px 38px #FFF , 530px 608px #FFF , 169px 1291px #FFF , 1701px 369px #FFF , 449px 959px #FFF , 1870px 738px #FFF , 265px 1439px #FFF , 1713px 473px #FFF , 1523px 611px #FFF , 1344px 396px #FFF , 397px 1315px #FFF , 215px 1109px #FFF , 929px 296px #FFF , 1808px 1291px #FFF , 170px 746px #FFF , 1320px 1221px #FFF , 1464px 936px #FFF , 1857px 47px #FFF , 553px 403px #FFF , 438px 1667px #FFF , 1275px 1041px #FFF , 1258px 1014px #FFF , 356px 1064px #FFF , 1595px 633px #FFF , 66px 1218px #FFF , 655px 25px #FFF , 1694px 559px #FFF , 1286px 988px #FFF , 746px 1598px #FFF , 960px 243px #FFF , 1778px 1809px #FFF , 1389px 353px #FFF , 630px 1646px #FFF , 524px 369px #FFF , 1090px 1363px #FFF , 185px 228px #FFF , 1530px 372px #FFF , 541px 858px #FFF , 1961px 1132px #FFF , 1693px 1390px #FFF , 1672px 472px #FFF , 198px 1416px #FFF , 435px 957px #FFF , 292px 1436px #FFF , 1419px 1151px #FFF , 1553px 560px #FFF , 1385px 1822px #FFF , 1977px 960px #FFF , 659px 1881px #FFF , 1490px 1999px #FFF , 1873px 912px #FFF , 1475px 665px #FFF , 1035px 1772px #FFF , 1109px 542px #FFF , 1409px 1200px #FFF , 200px 241px #FFF , 529px 1233px #FFF , 1776px 601px #FFF , 1132px 1375px #FFF , 1283px 1405px #FFF , 6px 1547px #FFF , 218px 1158px #FFF , 1790px 375px #FFF , 1768px 407px #FFF , 1771px 1969px #FFF , 1514px 211px #FFF , 1528px 649px #FFF , 1467px 870px #FFF , 767px 734px #FFF , 1557px 1488px #FFF , 160px 194px #FFF , 1014px 1204px #FFF , 1991px 1734px #FFF , 126px 1436px #FFF , 384px 1297px #FFF , 588px 1292px #FFF , 29px 746px #FFF , 139px 677px #FFF , 1600px 1318px #FFF , 667px 217px #FFF , 543px 1962px #FFF , 1292px 1518px #FFF , 307px 896px #FFF , 870px 1073px #FFF , 1376px 165px #FFF , 631px 498px #FFF , 74px 526px #FFF , 1231px 445px #FFF , 1794px 1111px #FFF , 1142px 1218px #FFF , 1466px 368px #FFF , 795px 1043px #FFF , 1487px 1018px #FFF , 1224px 1122px #FFF , 1545px 1886px #FFF , 1077px 1138px #FFF , 1456px 1410px #FFF , 525px 985px #FFF , 742px 1573px #FFF , 1786px 589px #FFF , 1734px 1031px #FFF , 63px 1482px #FFF , 1169px 750px #FFF , 340px 123px #FFF , 1692px 1735px #FFF , 318px 1619px #FFF , 507px 147px #FFF , 614px 574px #FFF , 1834px 1211px #FFF , 1566px 537px #FFF , 1069px 172px #FFF , 567px 741px #FFF , 398px 110px #FFF , 1835px 1237px #FFF , 1887px 697px #FFF , 40px 1007px #FFF , 159px 976px #FFF , 1992px 1713px #FFF , 1934px 1824px #FFF , 211px 1078px #FFF , 1577px 1335px #FFF , 1593px 1553px #FFF , 873px 1476px #FFF , 67px 1755px #FFF , 1824px 937px #FFF , 564px 1475px #FFF , 1253px 1132px #FFF , 1932px 574px #FFF , 1357px 1050px #FFF , 1503px 186px #FFF , 1999px 153px #FFF , 1438px 999px #FFF , 806px 1978px #FFF , 1342px 934px #FFF , 221px 591px #FFF , 1570px 1843px #FFF , 1351px 558px #FFF , 1582px 1017px #FFF , 1333px 286px #FFF , 1388px 1555px #FFF , 1825px 1202px #FFF , 1164px 1404px #FFF , 1999px 507px #FFF , 1601px 1487px #FFF , 109px 185px #FFF , 70px 583px #FFF , 1706px 86px #FFF , 1652px 14px #FFF , 1921px 1998px #FFF , 155px 1223px #FFF , 721px 1387px #FFF , 1519px 1296px #FFF , 245px 1038px #FFF , 885px 1020px #FFF , 217px 859px #FFF , 1880px 1581px #FFF , 798px 1471px #FFF , 671px 1722px #FFF , 204px 905px #FFF , 41px 1447px #FFF , 1210px 1464px #FFF , 325px 509px #FFF , 451px 405px #FFF , 785px 31px #FFF , 812px 398px #FFF , 1541px 1317px #FFF , 420px 1864px #FFF , 695px 423px #FFF , 1756px 1239px #FFF , 800px 1190px #FFF , 232px 1891px #FFF , 1662px 904px #FFF , 1151px 365px #FFF , 211px 1102px #FFF , 354px 1394px #FFF , 1934px 686px #FFF , 888px 737px #FFF , 391px 1956px #FFF , 1488px 530px #FFF , 1066px 79px #FFF , 1872px 1332px #FFF , 1528px 1276px #FFF , 1391px 1763px #FFF , 1053px 1745px #FFF , 1669px 1169px #FFF , 1480px 745px #FFF , 448px 1574px #FFF , 687px 638px #FFF , 573px 827px #FFF , 1308px 1058px #FFF , 186px 37px #FFF , 580px 1063px #FFF , 277px 389px #FFF , 1575px 1098px #FFF , 56px 1142px #FFF , 71px 460px #FFF , 440px 1005px #FFF , 1866px 1069px #FFF , 3px 1770px #FFF , 1219px 328px #FFF , 59px 1547px #FFF , 1627px 323px #FFF , 59px 366px #FFF , 1380px 587px #FFF , 457px 259px #FFF , 1381px 516px #FFF , 744px 598px #FFF , 338px 1310px #FFF , 963px 1158px #FFF , 396px 1653px #FFF , 1315px 401px #FFF , 913px 401px #FFF , 1462px 1355px #FFF , 1618px 1285px #FFF , 823px 1748px #FFF , 439px 477px #FFF , 1608px 356px #FFF , 16px 805px #FFF , 1199px 327px #FFF , 326px 914px #FFF , 1815px 557px #FFF , 608px 1343px #FFF , 1358px 1296px #FFF , 91px 104px #FFF , 1631px 1638px #FFF , 474px 1224px #FFF , 1570px 422px #FFF , 83px 1775px #FFF , 1127px 839px #FFF , 38px 1064px #FFF , 665px 1877px #FFF , 202px 1667px #FFF , 1466px 127px #FFF , 438px 216px #FFF , 697px 738px #FFF , 1136px 1766px #FFF , 1557px 1768px #FFF , 466px 207px #FFF , 743px 28px #FFF , 1924px 276px #FFF , 1073px 65px #FFF , 1109px 1146px #FFF , 702px 424px #FFF , 1144px 1979px #FFF , 1274px 122px #FFF , 1404px 967px #FFF , 1744px 17px #FFF , 315px 1111px #FFF , 205px 1996px #FFF , 896px 1660px #FFF , 780px 373px #FFF , 1569px 1082px #FFF , 627px 770px #FFF , 1533px 572px #FFF , 325px 51px #FFF , 1717px 153px #FFF , 1312px 1194px #FFF , 195px 891px #FFF , 1382px 51px #FFF , 1869px 1656px #FFF , 198px 808px #FFF , 1738px 1628px #FFF , 960px 653px #FFF , 771px 1523px #FFF , 1722px 182px #FFF , 283px 298px #FFF , 1241px 1305px #FFF , 1036px 1593px #FFF , 942px 236px #FFF , 1989px 645px #FFF , 985px 1527px #FFF , 923px 1906px #FFF , 1549px 946px #FFF , 416px 92px #FFF , 1951px 1358px #FFF , 428px 1073px #FFF , 1605px 830px #FFF , 322px 1732px #FFF , 1655px 949px #FFF , 1938px 1979px #FFF , 1251px 426px #FFF , 196px 816px #FFF , 1554px 10px #FFF , 585px 1200px #FFF , 1951px 723px #FFF , 1297px 1778px #FFF , 1548px 1630px #FFF , 543px 1757px #FFF , 1823px 1907px #FFF , 1618px 1257px #FFF , 967px 1563px #FFF , 1134px 214px #FFF , 52px 812px #FFF , 1663px 672px #FFF , 797px 806px #FFF , 1918px 1532px #FFF , 732px 1460px #FFF , 962px 1429px #FFF , 1859px 521px #FFF , 1270px 1773px #FFF , 1617px 1447px #FFF , 1280px 510px #FFF , 1600px 89px #FFF , 598px 1897px #FFF , 130px 1321px #FFF , 103px 1505px #FFF , 1004px 203px #FFF , 570px 148px #FFF , 744px 1514px #FFF , 1596px 229px #FFF , 1795px 972px #FFF , 1741px 124px #FFF , 1210px 344px #FFF , 143px 408px #FFF , 961px 578px #FFF , 1866px 427px #FFF , 1150px 1233px #FFF , 1944px 703px #FFF , 560px 161px #FFF , 433px 1429px #FFF , 616px 252px #FFF , 1136px 1721px #FFF , 271px 488px #FFF , 1934px 580px #FFF , 1663px 1324px #FFF , 172px 1135px #FFF , 1156px 20px #FFF , 711px 56px #FFF , 1014px 1337px #FFF , 457px 226px #FFF , 1031px 1271px #FFF , 1370px 1577px #FFF , 398px 1526px #FFF , 1465px 204px #FFF , 375px 1189px #FFF , 1410px 1556px #FFF , 1304px 653px #FFF , 1926px 828px #FFF , 791px 1444px #FFF , 1534px 1601px #FFF , 189px 150px #FFF , 532px 1992px #FFF , 1037px 1353px #FFF , 240px 45px #FFF , 354px 1108px #FFF , 753px 811px #FFF , 330px 579px #FFF , 96px 1650px #FFF , 1588px 1748px #FFF , 1641px 1327px #FFF , 772px 1703px #FFF , 535px 176px #FFF , 687px 1499px #FFF , 972px 647px #FFF , 1024px 949px #FFF , 821px 810px #FFF , 1156px 300px #FFF , 137px 61px #FFF , 1475px 1223px #FFF , 361px 790px #FFF , 260px 1760px #FFF , 1336px 686px #FFF , 126px 770px #FFF , 1678px 94px #FFF , 1252px 1660px #FFF , 926px 923px #FFF , 1181px 788px #FFF , 190px 815px #FFF , 594px 178px #FFF , 664px 445px #FFF , 5px 1656px #FFF , 924px 364px #FFF , 1511px 668px #FFF , 11px 760px #FFF , 1050px 334px #FFF , 1142px 785px #FFF , 1695px 556px #FFF , 1698px 1563px #FFF , 954px 1673px #FFF , 459px 1253px #FFF , 884px 1436px #FFF , 471px 730px #FFF , 1526px 105px #FFF , 464px 426px #FFF , 118px 756px #FFF , 250px 1221px #FFF , 367px 1355px #FFF , 208px 25px #FFF , 1951px 461px #FFF , 270px 364px #FFF , 26px 1413px #FFF , 1358px 1428px #FFF , 445px 1484px #FFF , 128px 1532px #FFF , 577px 412px #FFF , 1822px 1399px #FFF , 331px 941px #FFF , 726px 840px #FFF , 1090px 154px #FFF , 1574px 1740px #FFF , 377px 959px #FFF , 1675px 1806px #FFF , 1358px 602px #FFF , 112px 1283px #FFF , 1882px 1706px #FFF , 828px 1761px #FFF , 1863px 1935px #FFF , 1063px 1375px #FFF , 832px 1047px #FFF , 1903px 123px #FFF , 1892px 1221px #FFF , 1580px 1551px #FFF , 1255px 1756px #FFF , 450px 447px #FFF , 1201px 693px #FFF , 300px 135px #FFF , 1081px 1599px #FFF , 1574px 481px #FFF , 1503px 740px #FFF , 1922px 1147px #FFF , 1193px 1341px #FFF , 1215px 403px #FFF , 843px 1517px #FFF , 836px 1604px #FFF , 1763px 687px #FFF , 1554px 1782px #FFF , 459px 1246px #FFF , 1734px 1414px #FFF , 1046px 1802px #FFF , 290px 950px #FFF , 879px 1926px #FFF , 94px 1034px #FFF , 1561px 1476px #FFF , 1539px 741px #FFF , 1252px 1169px #FFF , 880px 1361px #FFF , 1248px 1859px #FFF , 618px 1086px #FFF , 1196px 81px #FFF , 135px 165px #FFF , 785px 44px #FFF , 285px 477px #FFF , 1940px 1920px #FFF , 865px 1335px #FFF , 739px 678px #FFF , 1021px 1185px #FFF , 1453px 47px #FFF , 19px 1741px #FFF , 1270px 1026px #FFF , 1113px 441px #FFF , 1656px 302px #FFF , 1908px 1567px #FFF , 967px 829px #FFF , 1582px 591px #FFF , 591px 1503px #FFF , 840px 367px #FFF , 769px 1210px #FFF , 119px 853px #FFF , 1062px 1361px #FFF , 793px 264px #FFF , 1506px 1699px #FFF , 439px 878px #FFF , 736px 1915px #FFF , 978px 935px #FFF , 1683px 1620px #FFF , 1504px 620px #FFF , 129px 594px #FFF , 1208px 1925px #FFF , 938px 594px #FFF , 507px 1422px #FFF , 408px 1557px #FFF , 710px 1689px #FFF , 509px 1546px #FFF , 1267px 907px #FFF , 207px 511px #FFF , 142px 100px #FFF , 68px 361px #FFF , 447px 1695px #FFF , 609px 872px #FFF , 1049px 1489px #FFF , 1352px 854px #FFF , 1372px 1117px #FFF , 1071px 1951px #FFF , 100px 58px #FFF , 603px 610px #FFF , 7px 1989px #FFF , 1457px 102px #FFF , 1472px 1594px #FFF , 56px 335px #FFF , 1674px 1328px #FFF , 1229px 391px #FFF , 123px 1434px #FFF , 32px 1156px #FFF , 712px 32px #FFF , 1348px 1214px #FFF , 1769px 1333px #FFF , 82px 1561px #FFF , 1803px 1021px #FFF , 726px 421px #FFF , 956px 1286px #FFF , 716px 1555px #FFF , 1400px 997px #FFF , 1778px 357px #FFF , 1812px 866px #FFF , 1046px 49px #FFF , 1390px 1699px #FFF , 624px 1648px #FFF , 349px 316px #FFF , 1724px 604px #FFF , 683px 386px #FFF , 213px 596px #FFF , 1933px 452px #FFF , 673px 1205px #FFF , 738px 1288px #FFF , 433px 808px #FFF , 1126px 1008px #FFF , 1290px 1334px #FFF , 1864px 1283px #FFF , 1079px 1815px #FFF , 1916px 357px #FFF , 1938px 1915px #FFF , 104px 1428px #FFF , 1668px 1617px #FFF , 172px 1564px #FFF , 242px 1319px #FFF , 1441px 823px #FFF , 960px 484px #FFF , 289px 283px #FFF , 285px 1658px #FFF , 475px 477px #FFF , 1575px 234px #FFF , 1414px 694px #FFF , 961px 901px #FFF , 1339px 1578px #FFF , 1787px 749px #FFF , 1215px 1162px #FFF , 1855px 1088px #FFF , 601px 1553px #FFF , 1334px 1642px #FFF , 135px 669px #FFF , 1069px 1277px #FFF , 1315px 1406px #FFF , 1087px 917px #FFF , 1285px 557px #FFF , 1107px 644px #FFF , 1829px 438px #FFF , 455px 994px #FFF , 378px 113px #FFF , 1694px 1358px #FFF , 205px 1060px #FFF , 1180px 999px #FFF , 896px 1458px #FFF , 834px 1610px #FFF , 1088px 389px #FFF , 1726px 1149px #FFF , 679px 1465px #FFF , 1716px 1167px #FFF , 146px 1918px #FFF , 1517px 1788px #FFF , 1569px 307px #FFF , 1950px 778px #FFF , 1675px 1289px #FFF , 1513px 378px #FFF , 547px 1237px #FFF , 384px 1515px #FFF , 1307px 161px #FFF , 423px 1024px #FFF , 1522px 1148px #FFF , 863px 1479px #FFF , 1288px 1382px #FFF , 1672px 1798px #FFF , 592px 908px #FFF , 1464px 79px #FFF , 937px 1841px #FFF , 1761px 1062px #FFF , 1728px 1539px #FFF , 267px 419px #FFF , 618px 1965px #FFF , 1810px 278px #FFF , 1668px 685px #FFF , 1604px 1424px #FFF , 860px 170px #FFF , 633px 155px #FFF , 1928px 1796px #FFF , 1304px 1723px #FFF , 384px 1162px #FFF , 1884px 310px #FFF , 690px 1646px #FFF , 1642px 1910px #FFF , 1980px 1603px #FFF , 1858px 198px #FFF , 360px 1927px #FFF , 742px 1948px #FFF , 1820px 1300px #FFF , 1238px 1035px #FFF , 163px 1764px #FFF , 350px 344px #FFF , 424px 545px #FFF , 432px 638px #FFF , 1619px 640px #FFF , 1396px 1954px #FFF , 121px 778px #FFF , 988px 1727px #FFF , 1622px 877px #FFF , 518px 110px #FFF , 294px 544px #FFF , 1115px 1554px #FFF , 671px 321px #FFF , 1311px 1388px #FFF , 470px 1562px #FFF , 1440px 679px #FFF , 344px 614px #FFF , 81px 1477px #FFF , 880px 1066px #FFF , 1527px 1639px #FFF , 1497px 556px #FFF , 208px 1280px #FFF , 825px 1685px #FFF , 1915px 373px #FFF , 1966px 982px #FFF , 607px 1283px #FFF , 225px 854px #FFF , 91px 1924px #FFF , 820px 617px #FFF , 1646px 1061px #FFF , 1582px 863px #FFF , 357px 1558px #FFF , 453px 1169px #FFF , 901px 747px #FFF , 48px 936px #FFF , 595px 810px #FFF , 1357px 881px #FFF , 1198px 278px #FFF , 1760px 1607px #FFF , 1143px 1637px #FFF , 882px 145px #FFF , 304px 48px #FFF , 1795px 34px #FFF , 1204px 1908px #FFF , 1650px 1398px #FFF , 199px 425px #FFF , 1368px 1231px #FFF , 1010px 310px #FFF , 275px 1040px #FFF , 1295px 366px #FFF , 1652px 1287px #FFF , 926px 1144px #FFF , 1014px 787px #FFF , 899px 338px #FFF , 41px 1061px #FFF , 1338px 757px #FFF , 4px 1056px #FFF , 646px 918px #FFF , 1982px 283px #FFF , 1304px 440px #FFF , 870px 128px #FFF , 1791px 1890px #FFF , 923px 360px #FFF , 1392px 501px #FFF , 1050px 948px #FFF , 1487px 1680px #FFF , 1652px 1856px #FFF , 1003px 587px #FFF , 162px 1961px #FFF , 1098px 161px #FFF , 1997px 964px #FFF , 1242px 366px #FFF , 280px 1852px #FFF , 1168px 113px #FFF , 343px 958px #FFF , 699px 183px #FFF , 1339px 472px #FFF , 1877px 1985px #FFF , 313px 1375px #FFF , 1008px 1517px #FFF , 290px 436px #FFF , 759px 1251px #FFF , 1304px 1910px #FFF , 1403px 1034px #FFF , 559px 1330px #FFF , 213px 1747px #FFF , 386px 655px #FFF;
}

#stars2 {
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: 1694px 581px #FFF , 1677px 1694px #FFF , 1431px 1559px #FFF , 134px 113px #FFF , 1778px 1152px #FFF , 798px 1117px #FFF , 606px 306px #FFF , 1545px 306px #FFF , 244px 1985px #FFF , 1934px 1863px #FFF , 717px 839px #FFF , 794px 193px #FFF , 1352px 1349px #FFF , 1842px 634px #FFF , 921px 1527px #FFF , 1611px 56px #FFF , 529px 1254px #FFF , 619px 397px #FFF , 1336px 1931px #FFF , 493px 1168px #FFF , 1964px 1786px #FFF , 341px 1062px #FFF , 530px 910px #FFF , 1208px 650px #FFF , 795px 1035px #FFF , 82px 835px #FFF , 1575px 1482px #FFF , 1453px 1445px #FFF , 291px 1147px #FFF , 1883px 581px #FFF , 214px 577px #FFF , 128px 213px #FFF , 1109px 546px #FFF , 1396px 466px #FFF , 79px 664px #FFF , 371px 1891px #FFF , 869px 1744px #FFF , 71px 316px #FFF , 1693px 850px #FFF , 1777px 178px #FFF , 1230px 779px #FFF , 450px 1288px #FFF , 1679px 104px #FFF , 1928px 1516px #FFF , 540px 1321px #FFF , 1700px 1974px #FFF , 15px 1751px #FFF , 557px 1372px #FFF , 1416px 600px #FFF , 1501px 37px #FFF , 431px 1887px #FFF , 1334px 543px #FFF , 387px 41px #FFF , 1228px 914px #FFF , 1842px 603px #FFF , 1921px 657px #FFF , 1629px 1755px #FFF , 622px 814px #FFF , 1883px 1808px #FFF , 1865px 906px #FFF , 1189px 1805px #FFF , 1422px 913px #FFF , 1593px 60px #FFF , 1580px 78px #FFF , 209px 1018px #FFF , 1417px 570px #FFF , 469px 187px #FFF , 1973px 1418px #FFF , 704px 1067px #FFF , 528px 290px #FFF , 1829px 940px #FFF , 1496px 430px #FFF , 1381px 1220px #FFF , 1521px 174px #FFF , 1752px 1560px #FFF , 197px 1853px #FFF , 1101px 833px #FFF , 871px 38px #FFF , 5px 714px #FFF , 278px 1427px #FFF , 375px 586px #FFF , 1140px 983px #FFF , 16px 267px #FFF , 1091px 1924px #FFF , 136px 1299px #FFF , 1322px 1409px #FFF , 1930px 1469px #FFF , 1701px 404px #FFF , 688px 358px #FFF , 752px 61px #FFF , 1720px 89px #FFF , 711px 1555px #FFF , 1522px 1601px #FFF , 727px 1902px #FFF , 1028px 1687px #FFF , 536px 1931px #FFF , 621px 1711px #FFF , 1962px 572px #FFF , 685px 1094px #FFF , 845px 438px #FFF , 1827px 1054px #FFF , 926px 1768px #FFF , 1585px 1651px #FFF , 1962px 387px #FFF , 81px 18px #FFF , 919px 487px #FFF , 1646px 784px #FFF , 225px 632px #FFF , 406px 655px #FFF , 1193px 337px #FFF , 1024px 1515px #FFF , 318px 1671px #FFF , 1492px 451px #FFF , 1402px 1471px #FFF , 213px 1789px #FFF , 767px 486px #FFF , 1208px 752px #FFF , 604px 123px #FFF , 77px 464px #FFF , 983px 1947px #FFF , 1390px 237px #FFF , 996px 1434px #FFF , 715px 1273px #FFF , 1558px 838px #FFF , 1006px 1851px #FFF , 64px 874px #FFF , 1666px 239px #FFF , 712px 1522px #FFF , 78px 1370px #FFF , 737px 880px #FFF , 735px 457px #FFF , 236px 1970px #FFF , 418px 1404px #FFF , 1618px 356px #FFF , 1631px 143px #FFF , 638px 1679px #FFF , 590px 893px #FFF , 739px 1600px #FFF , 932px 327px #FFF , 1107px 1535px #FFF , 824px 1495px #FFF , 828px 499px #FFF , 1105px 1249px #FFF , 1129px 81px #FFF , 1635px 375px #FFF , 1186px 1798px #FFF , 817px 1827px #FFF , 911px 847px #FFF , 960px 1978px #FFF , 1445px 96px #FFF , 1619px 816px #FFF , 1347px 681px #FFF , 886px 1407px #FFF , 771px 1165px #FFF , 114px 1724px #FFF , 1548px 294px #FFF , 1931px 978px #FFF , 1791px 347px #FFF , 1120px 577px #FFF , 532px 772px #FFF , 26px 1767px #FFF , 1291px 1731px #FFF , 704px 50px #FFF , 151px 1230px #FFF , 1559px 404px #FFF , 1035px 258px #FFF , 1961px 1055px #FFF , 1940px 284px #FFF , 547px 1487px #FFF , 1023px 1065px #FFF , 299px 198px #FFF , 206px 975px #FFF , 73px 327px #FFF , 1994px 694px #FFF , 1723px 59px #FFF , 1456px 1796px #FFF , 638px 671px #FFF , 1657px 488px #FFF , 1916px 1720px #FFF , 320px 1927px #FFF , 1964px 1941px #FFF , 1376px 1119px #FFF , 1055px 1704px #FFF , 1133px 1704px #FFF , 412px 1534px #FFF , 1325px 1596px #FFF , 1895px 1141px #FFF , 1474px 1733px #FFF , 619px 943px #FFF , 444px 482px #FFF , 72px 756px #FFF , 302px 1100px #FFF , 1121px 446px #FFF , 1641px 1042px #FFF , 330px 827px #FFF , 983px 1521px #FFF , 1233px 1456px #FFF , 1997px 1623px #FFF , 1560px 30px #FFF , 84px 1331px #FFF;
  animation: animStar 100s linear infinite;
}
#stars2:after {
  content: " ";
  position: absolute;
  top: 1000px;
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: 1694px 581px #FFF , 1677px 1694px #FFF , 1431px 1559px #FFF , 134px 113px #FFF , 1778px 1152px #FFF , 798px 1117px #FFF , 606px 306px #FFF , 1545px 306px #FFF , 244px 1985px #FFF , 1934px 1863px #FFF , 717px 839px #FFF , 794px 193px #FFF , 1352px 1349px #FFF , 1842px 634px #FFF , 921px 1527px #FFF , 1611px 56px #FFF , 529px 1254px #FFF , 619px 397px #FFF , 1336px 1931px #FFF , 493px 1168px #FFF , 1964px 1786px #FFF , 341px 1062px #FFF , 530px 910px #FFF , 1208px 650px #FFF , 795px 1035px #FFF , 82px 835px #FFF , 1575px 1482px #FFF , 1453px 1445px #FFF , 291px 1147px #FFF , 1883px 581px #FFF , 214px 577px #FFF , 128px 213px #FFF , 1109px 546px #FFF , 1396px 466px #FFF , 79px 664px #FFF , 371px 1891px #FFF , 869px 1744px #FFF , 71px 316px #FFF , 1693px 850px #FFF , 1777px 178px #FFF , 1230px 779px #FFF , 450px 1288px #FFF , 1679px 104px #FFF , 1928px 1516px #FFF , 540px 1321px #FFF , 1700px 1974px #FFF , 15px 1751px #FFF , 557px 1372px #FFF , 1416px 600px #FFF , 1501px 37px #FFF , 431px 1887px #FFF , 1334px 543px #FFF , 387px 41px #FFF , 1228px 914px #FFF , 1842px 603px #FFF , 1921px 657px #FFF , 1629px 1755px #FFF , 622px 814px #FFF , 1883px 1808px #FFF , 1865px 906px #FFF , 1189px 1805px #FFF , 1422px 913px #FFF , 1593px 60px #FFF , 1580px 78px #FFF , 209px 1018px #FFF , 1417px 570px #FFF , 469px 187px #FFF , 1973px 1418px #FFF , 704px 1067px #FFF , 528px 290px #FFF , 1829px 940px #FFF , 1496px 430px #FFF , 1381px 1220px #FFF , 1521px 174px #FFF , 1752px 1560px #FFF , 197px 1853px #FFF , 1101px 833px #FFF , 871px 38px #FFF , 5px 714px #FFF , 278px 1427px #FFF , 375px 586px #FFF , 1140px 983px #FFF , 16px 267px #FFF , 1091px 1924px #FFF , 136px 1299px #FFF , 1322px 1409px #FFF , 1930px 1469px #FFF , 1701px 404px #FFF , 688px 358px #FFF , 752px 61px #FFF , 1720px 89px #FFF , 711px 1555px #FFF , 1522px 1601px #FFF , 727px 1902px #FFF , 1028px 1687px #FFF , 536px 1931px #FFF , 621px 1711px #FFF , 1962px 572px #FFF , 685px 1094px #FFF , 845px 438px #FFF , 1827px 1054px #FFF , 926px 1768px #FFF , 1585px 1651px #FFF , 1962px 387px #FFF , 81px 18px #FFF , 919px 487px #FFF , 1646px 784px #FFF , 225px 632px #FFF , 406px 655px #FFF , 1193px 337px #FFF , 1024px 1515px #FFF , 318px 1671px #FFF , 1492px 451px #FFF , 1402px 1471px #FFF , 213px 1789px #FFF , 767px 486px #FFF , 1208px 752px #FFF , 604px 123px #FFF , 77px 464px #FFF , 983px 1947px #FFF , 1390px 237px #FFF , 996px 1434px #FFF , 715px 1273px #FFF , 1558px 838px #FFF , 1006px 1851px #FFF , 64px 874px #FFF , 1666px 239px #FFF , 712px 1522px #FFF , 78px 1370px #FFF , 737px 880px #FFF , 735px 457px #FFF , 236px 1970px #FFF , 418px 1404px #FFF , 1618px 356px #FFF , 1631px 143px #FFF , 638px 1679px #FFF , 590px 893px #FFF , 739px 1600px #FFF , 932px 327px #FFF , 1107px 1535px #FFF , 824px 1495px #FFF , 828px 499px #FFF , 1105px 1249px #FFF , 1129px 81px #FFF , 1635px 375px #FFF , 1186px 1798px #FFF , 817px 1827px #FFF , 911px 847px #FFF , 960px 1978px #FFF , 1445px 96px #FFF , 1619px 816px #FFF , 1347px 681px #FFF , 886px 1407px #FFF , 771px 1165px #FFF , 114px 1724px #FFF , 1548px 294px #FFF , 1931px 978px #FFF , 1791px 347px #FFF , 1120px 577px #FFF , 532px 772px #FFF , 26px 1767px #FFF , 1291px 1731px #FFF , 704px 50px #FFF , 151px 1230px #FFF , 1559px 404px #FFF , 1035px 258px #FFF , 1961px 1055px #FFF , 1940px 284px #FFF , 547px 1487px #FFF , 1023px 1065px #FFF , 299px 198px #FFF , 206px 975px #FFF , 73px 327px #FFF , 1994px 694px #FFF , 1723px 59px #FFF , 1456px 1796px #FFF , 638px 671px #FFF , 1657px 488px #FFF , 1916px 1720px #FFF , 320px 1927px #FFF , 1964px 1941px #FFF , 1376px 1119px #FFF , 1055px 1704px #FFF , 1133px 1704px #FFF , 412px 1534px #FFF , 1325px 1596px #FFF , 1895px 1141px #FFF , 1474px 1733px #FFF , 619px 943px #FFF , 444px 482px #FFF , 72px 756px #FFF , 302px 1100px #FFF , 1121px 446px #FFF , 1641px 1042px #FFF , 330px 827px #FFF , 983px 1521px #FFF , 1233px 1456px #FFF , 1997px 1623px #FFF , 1560px 30px #FFF , 84px 1331px #FFF;
}

#stars3 {
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: 1448px 329px #FFF , 1243px 1770px #FFF , 749px 573px #FFF , 412px 1197px #FFF , 637px 1646px #FFF , 795px 838px #FFF , 1943px 1106px #FFF , 1179px 673px #FFF , 297px 631px #FFF , 208px 275px #FFF , 1048px 1112px #FFF , 269px 1045px #FFF , 214px 1469px #FFF , 812px 1704px #FFF , 897px 352px #FFF , 680px 1759px #FFF , 262px 1199px #FFF , 1251px 947px #FFF , 628px 640px #FFF , 764px 1627px #FFF , 272px 1389px #FFF , 1675px 915px #FFF , 1362px 894px #FFF , 1977px 193px #FFF , 1551px 1221px #FFF , 157px 1724px #FFF , 953px 1784px #FFF , 1414px 495px #FFF , 1318px 572px #FFF , 214px 1636px #FFF , 286px 300px #FFF , 1523px 1467px #FFF , 182px 495px #FFF , 185px 86px #FFF , 875px 377px #FFF , 1204px 461px #FFF , 264px 443px #FFF , 354px 1019px #FFF , 731px 243px #FFF , 35px 642px #FFF , 1697px 1802px #FFF , 1090px 1965px #FFF , 79px 144px #FFF , 1322px 1539px #FFF , 1313px 1663px #FFF , 982px 1460px #FFF , 274px 1383px #FFF , 469px 333px #FFF , 1580px 400px #FFF , 1784px 596px #FFF , 1995px 1892px #FFF , 65px 1106px #FFF , 1444px 582px #FFF , 671px 362px #FFF , 927px 1365px #FFF , 85px 323px #FFF , 1986px 627px #FFF , 1327px 1117px #FFF , 1811px 1388px #FFF , 736px 2px #FFF , 660px 1661px #FFF , 364px 932px #FFF , 1228px 544px #FFF , 1911px 1157px #FFF , 477px 60px #FFF , 1037px 1966px #FFF , 1132px 1749px #FFF , 1968px 1087px #FFF , 868px 96px #FFF , 1524px 594px #FFF , 785px 1221px #FFF , 1892px 1541px #FFF , 912px 719px #FFF , 611px 1270px #FFF , 1060px 1885px #FFF , 1386px 875px #FFF , 1938px 391px #FFF , 692px 1623px #FFF , 190px 185px #FFF , 1518px 489px #FFF , 997px 1481px #FFF , 1714px 1347px #FFF , 152px 224px #FFF , 743px 713px #FFF , 165px 55px #FFF , 1720px 814px #FFF , 1020px 890px #FFF , 978px 1281px #FFF , 568px 882px #FFF , 35px 1354px #FFF , 572px 488px #FFF , 1512px 497px #FFF , 1901px 1861px #FFF , 285px 369px #FFF , 911px 361px #FFF , 1938px 1103px #FFF , 1397px 1465px #FFF , 1657px 1526px #FFF , 1642px 1254px #FFF , 1153px 1611px #FFF;
  animation: animStar 150s linear infinite;
}
#stars3:after {
  content: " ";
  position: absolute;
  top: 1000px;
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: 1448px 329px #FFF , 1243px 1770px #FFF , 749px 573px #FFF , 412px 1197px #FFF , 637px 1646px #FFF , 795px 838px #FFF , 1943px 1106px #FFF , 1179px 673px #FFF , 297px 631px #FFF , 208px 275px #FFF , 1048px 1112px #FFF , 269px 1045px #FFF , 214px 1469px #FFF , 812px 1704px #FFF , 897px 352px #FFF , 680px 1759px #FFF , 262px 1199px #FFF , 1251px 947px #FFF , 628px 640px #FFF , 764px 1627px #FFF , 272px 1389px #FFF , 1675px 915px #FFF , 1362px 894px #FFF , 1977px 193px #FFF , 1551px 1221px #FFF , 157px 1724px #FFF , 953px 1784px #FFF , 1414px 495px #FFF , 1318px 572px #FFF , 214px 1636px #FFF , 286px 300px #FFF , 1523px 1467px #FFF , 182px 495px #FFF , 185px 86px #FFF , 875px 377px #FFF , 1204px 461px #FFF , 264px 443px #FFF , 354px 1019px #FFF , 731px 243px #FFF , 35px 642px #FFF , 1697px 1802px #FFF , 1090px 1965px #FFF , 79px 144px #FFF , 1322px 1539px #FFF , 1313px 1663px #FFF , 982px 1460px #FFF , 274px 1383px #FFF , 469px 333px #FFF , 1580px 400px #FFF , 1784px 596px #FFF , 1995px 1892px #FFF , 65px 1106px #FFF , 1444px 582px #FFF , 671px 362px #FFF , 927px 1365px #FFF , 85px 323px #FFF , 1986px 627px #FFF , 1327px 1117px #FFF , 1811px 1388px #FFF , 736px 2px #FFF , 660px 1661px #FFF , 364px 932px #FFF , 1228px 544px #FFF , 1911px 1157px #FFF , 477px 60px #FFF , 1037px 1966px #FFF , 1132px 1749px #FFF , 1968px 1087px #FFF , 868px 96px #FFF , 1524px 594px #FFF , 785px 1221px #FFF , 1892px 1541px #FFF , 912px 719px #FFF , 611px 1270px #FFF , 1060px 1885px #FFF , 1386px 875px #FFF , 1938px 391px #FFF , 692px 1623px #FFF , 190px 185px #FFF , 1518px 489px #FFF , 997px 1481px #FFF , 1714px 1347px #FFF , 152px 224px #FFF , 743px 713px #FFF , 165px 55px #FFF , 1720px 814px #FFF , 1020px 890px #FFF , 978px 1281px #FFF , 568px 882px #FFF , 35px 1354px #FFF , 572px 488px #FFF , 1512px 497px #FFF , 1901px 1861px #FFF , 285px 369px #FFF , 911px 361px #FFF , 1938px 1103px #FFF , 1397px 1465px #FFF , 1657px 1526px #FFF , 1642px 1254px #FFF , 1153px 1611px #FFF;
}

#title {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  color: #FFF;
  text-align: center;
  font-family: "lato", sans-serif;
  font-weight: 300;
  font-size: 50px;
  letter-spacing: 10px;
  margin-top: -60px;
  padding-left: 10px;
}
#title span {
  background: -webkit-linear-gradient(white, #38495a);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@keyframes animStar {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-2000px);
  }
}
