.contactBtn {
    width: 150px;
    background: linear-gradient(97.47deg, #151515 4.18%, #313131 59.79%, #030303 97.03%);
    border-radius: 10px;
    margin-top: 50px;
    left: 85%;
    margin-bottom: 50px;
    position: sticky;
  }
